/* Réinitialisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #264653;
  padding: 20px;
}

.container {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* En-tête */
header {
  background-color: #264653; /* BLEU */
  padding: 20px;
  color: #fff;
}

header .logo h1 {
  color: #E9C46A; /* JAUNE */
  font-size: 28px;
  display: inline-block;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #E9C46A; /* JAUNE */
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #F4A261; /* ORANGE */
}

h2 {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #2A9D8F;
  color: #fff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

select,
input {
  padding: 8px;
  border: 2px solid #2A9D8F;
  border-radius: 4px;
}

.button {
  background-color: #E76F51;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
}

.button:hover {
  background-color: #264653;
}

/* Actions */
.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Liens d'actions */
a {
  text-decoration: none;
  color: #2A9D8F;
  font-weight: bold;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

/* Bouton Modifier */
.edit-btn {
  color: #E9C46A;
  /* JAUNE */
}

/* Bouton Supprimer */
.delete-btn {
  background-color: #E76F51;
  /* ROUGE */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #264653;
  /* BLEU */
}

/* Media Queries pour la responsivité */

/* Pour les tablettes (largeur maximale de 768px) */
@media (max-width: 768px) {
  .nav-links {
      flex-direction: column;
      align-items: center;
  }

  .nav-links li {
      margin: 10px 0;
  }

  form {
      width: 80%;
  }

  .button {
      width: 40%;
  }
}

/* Pour les téléphones (largeur maximale de 480px) */
@media (max-width: 480px) {
  header .logo h1 {
      font-size: 24px;
  }

  nav {
      flex-direction: column;
      align-items: center;
  }

  .nav-links li {
      margin: 5px 0;
  }

  form {
      width: 95%;
  }

  .button {
      width: 60%;
  }
}
