* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    padding: 20px;
}

header .logo h1 {
    color: #fff;
    display: inline-block;
}
header .logo p{
    color: #fff;
    display: inline-block;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #0056b3;
}

/* Section Hero */
.hero {
    background-image: url("../images/DALL·E.png");
    background-size: cover; /* Ajuste l'image pour couvrir toute la zone */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-position: initial; /* Centre l'image */
    width: 100vw; /* Largeur égale à la largeur de la fenêtre */
    height: 100vh; /* Hauteur égale à la hauteur de la fenêtre */
}

.cta-btn {
    background-color: #fff;
    color: #007BFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.cta-btn:hover {
    background-color: #e9e9e9;
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}