<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bibliothèque Universitaire - Accueil</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <!-- En-tête du site -->
    <header>
      <nav>
        <div class="logo">
          <h1>Bibliothèque Universitaire</h1>
        </div>
        <ul class="nav-links">
          <li><a href="/">Accueil</a></li>
          <li><a href="/books">Livres</a></li>
          <li><a href="/borrows ">Emprunts</a></li>
          <li><a href="/profils-users">Profil</a></li>
        </ul>
      </nav>
    </header>

    <!-- Section d'accueil -->
    <section class="hero">
      <div class="hero-content">
        <h2>Bienvenue Agent <%= user.email %></h2>
        <p>Vous pouvez accedez à la base de données.</p>
      </div>
    </section>

    <!-- Section des services -->
    <section class="features">
      <h3>Nos Services</h3>
      <div class="feature-cards">
        <div class="card">
          <h4>Accès aux Livres</h4>
          <p>
            Consultez notre catalogue en ligne, ajoutez vos favoris et empruntez
            les livres.
          </p>
          <a href="/books" class="feature-btn">Voir les Livres</a>
        </div>
        <div class="card">
          <h4>Recommandations Personnalisées</h4>
          <p>
            Recevez des suggestions de livres basées sur vos lectures
            précédentes.
          </p>
          <a href="/recommendations" class="feature-btn"
            >Voir les Recommandations</a
          >
        </div>
        <div class="card">
          <h4>Gestion des Emprunts</h4>
          <p>
            Suivez vos emprunts en cours, et retrouvez l'historique de vos
            lectures.
          </p>
          <a href="/borrows" class="feature-btn">Mes Emprunts</a>
        </div>
        <div class="card">
          <h4>Commentaires et Avis</h4>
          <p>
            Laissez des avis sur les livres que vous avez lus et lisez les
            commentaires des autres.
          </p>
          <a href="/comments" class="feature-btn">Voir les Commentaires</a>
        </div>
        <div class="card">
          <h4>Favoris</h4>
          <p>Ajoutez des livres à vos favoris pour les lire plus tard.</p>
          <a href="/favoris" class="feature-btn">Mes Favoris</a>
        </div>
        <div class="card">
          <h4>Notifications et Rappels</h4>
          <p>
            Recevez des notifications sur les retours de livres et les nouvelles
            recommandations.
          </p>
          <a href="/notifications" class="feature-btn"
            >Voir les Notifications</a
          >
        </div>
      </div>
    </section>

    <!-- Pied de page -->
    <footer>
      <p>&copy; 2025 Bibliothèque Universitaire - Tous droits réservés.</p>
    </footer>
  </body>
</html>
