<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque Universitaire - Accueil</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- En-tête du site -->
    <header>
        <nav>
            <div class="logo">
                <h1>Bienvenue à la Bibliothèque Universitaire</h1><br>
                <p>Accédez à une large collection de livres et gérez vos emprunts en ligne.</p>
            </div>
            <ul class="nav-links">
                <li><a href="/contact" class="cta-btn">Contact</a></li>
                <li><a href="/login" class="cta-btn">Connexion</a></li>
            </ul>
        </nav>
    </header>

    <!-- Section d'accueil -->
        <div class="hero">
            <video autoplay loop muted playsinline>
                <source src="/movies/Presentation.mp4" type="video/mp4">
            </video>
        </div>


    <!-- Pied de page -->
    <footer>
        <p>&copy; 2025 Bibliothèque Universitaire - Tous droits réservés.</p>
    </footer>
</body>
</html>
